<div class="container">

	<div class="grid grid-cols-1 sm:grid-cols-4">
		<div class="col-start-1 col-end-4 text-left	">
		  	<p class="text-2xl"><%= @info_video_json.split("\;")[1] %></p>
		</div>
		<div>
		</div>
	</div>

	<div class="grid grid-cols-1 sm:grid-cols-4">
		<div class="col-start-1 col-end-4">
			<div class="relative" style="padding-top: 54.25%">
			  <iframe allowfullscreen class="absolute inset-0 w-full h-full" src="https://www.xvideos.com/embedframe/<%= @codigo %>" frameborder="0"></iframe>
			</div>
		</div>
		<div>

		</div>
	</div>

	<div class="grid grid-cols-1 sm:grid-cols-4">
		<div class="col-start-1 col-end-4 text-left	">
			Duracion: <%= @info_video_json.split("\;")[2] %>
			<br>
			Etiquetas: <%= @info_video_json.split("\;")[5] %>
			<br>
			Calidad de video: <%= @info_video_json.split("\;")[9] %>
			<br>
			Tipo de video: <%= @info_video_json.split("\;")[8] %>
			<br>
		</div>
		<div>

		</div>
	</div>

	<div class="grid grid-cols-1 sm:grid-cols-3">
		<% @json.each do |va| %>
		    <a href="watch?v=<%= va[0].split("\;")[0].split("www.xvideos.com/video").last.split("/").first %>_<%= va[0].split("\;")[0].split("www.xvideos.com/video").last.split("/").last %>">
		      <div class="mx-3">
		          <div class="mx-3">
		            <center>
		              <img src="<%= va[0].split("\;")[3] %>""/>
		            </center>
		          </div>
		        <label><%= va[0].split("\;")[1] %></label>
		        <label>duracion: <%= va[0].split("\;")[2] %></label>
		      </div>
		    </a>

		    <a href="watch?v=<%= va[1].split("\;")[0].split("www.xvideos.com/video").last.split("/").first %>_<%= va[1].split("\;")[0].split("www.xvideos.com/video").last.split("/").last %>">
		      <div class="mx-3">
		          <div class="mx-3">
		            <center>
		              <img src="<%= va[1].split("\;")[3] %>""/>
		            </center>
		          </div>
		        <label><%= va[1].split("\;")[1] %></label>
		        <label>duracion: <%= va[1].split("\;")[2] %></label>
		      </div>
		    </a>

		    <a href="watch?v=<%= va[2].split("\;")[0].split("www.xvideos.com/video").last.split("/").first %>_<%= va[2].split("\;")[0].split("www.xvideos.com/video").last.split("/").last %>">
		      <div class="mx-3">
		          <div class="mx-3">
		            <center>
		              <img src="<%= va[2].split("\;")[3] %>""/>
		            </center>
		          </div>
		        <label><%= va[2].split("\;")[1] %></label>
		        <label>duracion: <%= va[2].split("\;")[2] %></label>
		      </div>
		    </a>
		<% end %>
	</div>

</div>
