<div class="container">

	<div class="grid grid-cols-1 sm:grid-cols-4">
		<div class="col-start-1 col-end-4 text-left	">
		  	<p class="text-2xl"><%= @info_video_json.split("\;")[1] %></p>
		</div>
		<div>
		</div>
	</div>

	<div class="grid grid-cols-1 sm:grid-cols-4">
		<div class="col-start-1 col-end-4">
			<div class="relative" style="padding-top: 36.25%">
			  <iframe class="absolute inset-0 w-full h-full" src="https://www.xvideos.com/embedframe/<%= @codigo %>" frameborder="0"></iframe>
			</div>
		</div>
		<div>
			<div id="ea_7625830_node">&nbsp;</div>
			<script type="text/javascript" language="javascript" charset="utf-8">
			if (typeof eaCtrl =="undefined"){ 
				var eaCtrlRecs=[];
				var eaCtrl = {add:function(ag){eaCtrlRecs.push(ag)}};
				var js = document.createElement('script');
				js.setAttribute("src","//go.eabids.com/loadeactrl.go?pid=131208&spaceid=7625830&ctrlid=788715");
				document.head.appendChild(js);
			}

			eaCtrl.add({"display":"ea_7625830_node","sid":7625830,"plugin":"banner","subid":"","maincat":""});
			</script>
			<div id="ea_7625830_node">&nbsp;</div>
			<script type="text/javascript" language="javascript" charset="utf-8">
			if (typeof eaCtrl =="undefined"){ 
				var eaCtrlRecs=[];
				var eaCtrl = {add:function(ag){eaCtrlRecs.push(ag)}};
				var js = document.createElement('script');
				js.setAttribute("src","//go.eabids.com/loadeactrl.go?pid=131208&spaceid=7625830&ctrlid=788715");
				document.head.appendChild(js);
			}

			eaCtrl.add({"display":"ea_7625830_node","sid":7625830,"plugin":"banner","subid":"","maincat":""});
			</script>
		</div>
	</div>

	<div class="grid grid-cols-1 sm:grid-cols-4">
		<div class="col-start-1 col-end-4 text-left	">
			Titulo: <%= @info_video_json.split("\;")[1] %>
			<br>
			Duracion: <%= @info_video_json.split("\;")[2] %>
			<br>
			Codigo iframe: <%= @info_video_json.split("\;")[4] %>
			<br>
			Etiquetas: <%= @info_video_json.split("\;")[5] %>
			<br>
			Calidad de video: <%= @info_video_json.split("\;")[9] %>
			<br>
			Tipo de video: <%= @info_video_json.split("\;")[8] %>
			<br>
		</div>
		<div>
		  	<label>anuncio</label>
		</div>
	</div>

</div>
