<!DOCTYPE html>
<html>
  <head>
    <title><%= @info_video_json.split("\;")[1] %></title>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="sNgWcuknUmgIqkBH4iIvXYFyb21rtwCPjwHCTHbMDLc" />
    <script async src="//d.smopy.com/d/?resource=pubJS"></script>
    <meta name="eroads_" content="76f7c9a5688bbcd65f6add7f580c008d" />
    <meta name="description" content="Videos porno gratis">
    <meta name="keywords" content="<%= @info_video_json.split("\;")[5] %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="yandex-verification" content="a172cfa13647685a" />
    <script src="https://cdn.tailwindcss.com"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body style="background-color:black; color:#FFFFFF">

    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
      <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="/" class="flex items-center">
          <p style="color: black;" class="text-2xl">Videos Porno Gratis</p>
      </a>
      
      </div>
    </nav>


    <center>
      <%= yield %>
    </center>

    <br>

    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="http//:videospornogratis.xyz">videospornogratis.xyz</a>
      </div>
      <!-- Copyright -->
    </footer>

    

  </body>
  

</html>
